<div class="list-contact">
    <img src="{{ avatar }}" class="list-contact__avatar">
    <h2 class="list-contact__name">
        {{ first_name }} {{ last_name }}
    </h2>
    <a class="list-contact__delete">Delete</a>
</div>
