<div class="list-contact">
    <img src="{{ avatar }}" class="list-contact__avatar">
    <div class="list-contact__first-name">
        {{ first_name }}
    </div>
    <div class="list-contact__last-name">
        {{ last_name }}
    </div>
    <a class="list-contact__delete">Delete</a>
</div>
