.list-contact {
    @include clearfix;
    @include padding(10px);

    .list-contact__avatar {
        @include margin(null 20px null null);
        @include size(60px);
        float: left;
    }

    .list-contact__name {
        float: left;
        text-transform: capitalize;
    }

    .list-contact__delete {
        color: $red;
        float: right;
    }

    &.list-contact--empty {
        text-align: center;
    }
}
